<!-- Banner -->		
<section id="banner" {% if page.banner %}style="background-image: url({{ page.banner }})"{% endif %}>

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    
   
    <div class="inner">
        <header>
            <h2><div id="banner_title_left">Retail</div><div id="banner_title_right">Vision</div></h2>
            <h3 id="banner_conference">{{ page.conference}}</h3>
            <div id="line_wrapper"><div id="banner_line"></div></div>

            <h2><div id="banner_long_name">Revolutionizing<br> the World of Retail</div></h2>
            <h3 id="banner_long_name_part2">New Computer Vision Challenges</h3>
            <!-- <div id="line_wrapper"><div id="banner_line"></div></div> -->

            <h3 id="banner_details">{{ page.date}}</h3>
        </header>

    </div>

</section>
