<header id="header">
    <!-- <div id="logo"><img id="logo_img" src="/images/Logo.svg""></div> -->
    <div id="logo"></div>
    
    <nav id="nav">
        <ul>
        
            <li><a href="#overview">Overview</a></li>
            <li><a href="#program">Program</a></li>
<!--            <li><a href="#challenge">Challenge</a></li>-->
            <li><a href="#speakers">Speakers</a></li>
            <li><a href="#important_dates">Important dates</a></li>
            <li><a href="#organizers">Organizers</a></li>
            <li><a href="#sponsors">Sponsors</a></li>
        </ul>
    </nav>
</header>

